language: ruby
dist: trusty
sudo: required
rvm:
  - 2.4
before_script:
  - "curl -o /tmp/shellcheck-latest.linux.x86_64.tar.xz https://storage.googleapis.com/shellcheck/shellcheck-latest.linux.x86_64.tar.xz"
  - "sudo tar -xf /tmp/shellcheck-latest.linux.x86_64.tar.xz --strip-components 1 -C /usr/bin/ shellcheck-latest/shellcheck"
  - "sudo pwsh -Command 'Install-Module -Name PSScriptAnalyzer -SkipPublisherCheck -Force'"
  - "sudo pwsh -Command 'Install-Module -Name Pester -SkipPublisherCheck -Force'"
script:
  - "bundle exec rake validate"
addons:
  apt:
    sources:
      - sourceline: "deb [arch=amd64] https://packages.microsoft.com/ubuntu/14.04/prod trusty main"
        key_url: "https://packages.microsoft.com/keys/microsoft.asc"
    packages:
      - powershell